* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: normal;
}

/* Header Section */

.header-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.5em;
}
.header-logo {
  color: rgb(255, 166, 0);
  font-size: 2.4rem;
}
.header-nav ul {
  display: flex;
}
.header-nav ul li:first-child {
  color: rgb(255, 166, 0);
}
.header-nav li {
  list-style-type: none;
  list-style-type: none;
  margin: 11px 26px 0px 0px;
  position: relative;
}
.header-nav ul li:hover {
  cursor: pointer;
  color: rgb(255, 166, 0);
}
.header-nav ul li a::before {
  content: "";
  margin-top: 5px;
  position: absolute;
  background-color: rgb(255, 166, 0);
  width: 0%;
  height: 3px;
  top: 100%;
  transition: all 0.3s linear;
}
.header-nav ul li a:hover::before {
  width: 100%;
}

/* Banner Section */
.banner-section {
  width: 100%;
  background-image: linear-gradient(rgb(247, 247, 247), rgb(255, 254, 254));
  border: 1px red solid;
}
.banner-section .banner-text-section {
  display: inline-block;
  width: 50%;
}
.banner-section .banner-text {
  margin-top: 70px;
  margin-left: 284px;
  line-height: 1.3;
  font-size: 1.5rem;
  color: rgb(192, 189, 189);
}
.banner-section .banner-text .banner-inner-text-bold {
  color: rgb(107, 106, 106);
}
.banner-section .banner-text-section .banner-text .banner-inner-text {
  color: rgb(255, 166, 0);
}
.banner-section .banner-button {
  display: flex;
  justify-content: space-around;
  margin-top: 1.875em;
}
.banner-section .banner-button-hire-me {
  width: 22%;
  min-width: 88px;
  height: 30px;
  background-color: rgb(255, 166, 0);
  color: white;
  border: 1px rgb(255, 166, 0) solid;
  font-size: 1rem;
  cursor: pointer;
}
.banner-section .banner-button-about-me {
  width: 22%;
  min-width: 88px;
  height: 30px;
  border: 1px rgb(255, 166, 0) solid;
  color: rgb(255, 166, 0);
  background-color: white;
  font-size: 1rem;
  cursor: pointer;
}
.banner-section .banner-email {
  text-align: center;
  margin-top: 1.5em;
  color: #000;
}
.banner-section .banner-email p {
  font-size: 0.9rem;
  color: #000;
}
.banner-section .banner-image {
  width: 50%;
  /* display: inline-block; */
  float: right;
  clear: both;
}
/* About Section */

.about-section {
  width: 100%;
  background-image: linear-gradient(rgb(255, 254, 254), rgb(236, 235, 235));
  border: 1px solid pink;
  padding: 30px;
}
.about-section .about-image {
  width: 43%;
  display: inline-block;
  /* margin: 0 auto; */
  text-align: right;
}
.about-section .about-text-section {
  width: 56%;
  /* display: inline-block; */
  float: right;
  clear: both;
}
.about-section .about-text {
  margin-left: 10px;
  margin-top: 1.875em;
}
.about-section .about-text h1 {
  margin-bottom: 20px;
  font-size: 2.4rem;
}
.about-section .about-text-section p {
  font-size: 1.5rem;
  color: rgb(160, 158, 158);
}
.about-section .about-text-section h3 {
  /* line-height: 1.375rem; */
}
.expertise-section {
  width: 100%;
  background-image: linear-gradient(white, rgb(236, 234, 234));
  border: 1px green solid;
}
.expertise-section .expertise-heading h1 {
  font-size: 2.4rem;
  text-align: center;
  margin-top: 1.4em;
}
.expertise-section .expertise-heading p {
  font-size: 1.5rem;
  /* line-height: 1.5rem; */
  color: rgb(90, 90, 90);
  text-align: center;
  margin-bottom: 40px;
  word-spacing: 2px;
}
.expertise-section .expertise-progress {
  width: 70%;
  display: inline-block;
  text-align: center;
}
.expertise-section .expertise-progress img {
  width: 100%;
}
.expertise-section .expertise-image {
  width: 29%;
  float: right;
}
.services-section {
  width: 100%;
  background-image: linear-gradient(white, rgb(223, 222, 222));
}
.services-section .services-work-image {
  background-image: url("../Images/work.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.services-section .services-work-experience {
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-section .services-work-image p {
  font-size: 3rem;
  color: white;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.services-section .services-heading h1 {
  font-size: 2.4rem;
  text-align: center;
  margin-top: 1.275em;
}
.services-section .services-heading p {
  font-size: 1.5rem;
  color: rgb(90, 90, 90);
  text-align: center;
  margin-bottom: 40px;
  word-spacing: 2px;
}
.services-section .services-high-quality {
  color: #000;
}
.services-section .services-main-div {
  display: flex;
  justify-content: space-around;
}

.services-section .services-main-div > div:hover {
  background-color: white;
  cursor: pointer;
}
.services-section .services-main-div > div:hover .services-heading-number p {
  background-color: rgb(250, 239, 218);
  border: 0px white solid;
}
.services-section .services-heading-number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.6em;
}
.services-section .services-heading-number p {
  text-align: center;
  color: rgb(255, 191, 72);
  border-radius: 50%;
  font-size: 3rem;
  width: 22%;
  min-width: 70px;
  display: inline-block;
  border: 1px solid rgb(255, 203, 106);
  /* line-height: 61px; */
}
.services-section .services-main-div .services-details {
  background-color: rgb(228, 225, 225);
  width: 20%;
}

.services-section li {
  list-style-type: none;
  font-size: 1.5rem;
  /* line-height: 1.75rem; */
  color: rgb(63, 63, 63);
  margin-left: 5px;
}
.services-section li > i {
  font-size: 13px;
  color: #000;
}
.services-section .services-main-div .services-details:hover li > i {
  color: rgb(255, 203, 106);
}
.services-main-div span {
  font-size: 4rem;
  display: inline-block;
  margin-top: 1em;
  color: white;
}
.services-main-div .services-details:hover span {
  color: rgb(250, 239, 218);
}

/* Contact Section */
.contact-section {
  width: 100%;
  background-image: linear-gradient(rgb(231, 230, 230), white);
  border: 1px blue solid;
}
.contact-section .contact-heading h1 {
  font-size: 2.4rem;
  text-align: center;
  margin-top: 1.275em;
}
.contact-section .contact-heading p {
  font-size: 1.5rem;
  color: rgb(90, 90, 90);
  text-align: center;
  margin-bottom: 40px;
  word-spacing: 2px;
}
.contact-image-form-section {
  display: flex;
}
.contact-section .contact-image {
  width: 35%;
  text-align: right;
}
.contact-section .contact-image img {
  min-width: 60%;
  max-width: 100%;
}
.contact-section .contact-form {
  width: 65%;
}
.contact-section .contact-form input,
textarea,
button {
  display: block;
  margin-bottom: 20px;
  margin-left: 10px;
}
.contact-section .contact-form button {
  margin-left: 90px;
  width: 12%;
  min-width: 88px;
  height: 30px;
  background-color: rgb(255, 166, 0);
  color: white;
  border: 1px rgb(255, 166, 0) solid;
  font-size: 1rem;
  cursor: pointer;
}
.contact-section .contact-main-div {
  display: flex;
  justify-content: space-around;
}

.contact-section .contact-main-div .contact-section-links {
  background-color: rgb(228, 225, 225);
  width: 20%;
  text-align: center;
  margin-top: 1.275em;
  padding-top: 30px;
  border-radius: 12px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: rgb(126, 126, 126);
  border: 1px rgb(228, 225, 225) solid;
}
.contact-section .contact-main-div p {
  margin-bottom: 20px;
}
.contact-section .contact-main-div > div:hover {
  background-color: white;
  border: 1px lightgrey solid;
  cursor: pointer;
}
.contact-section .contact-main-div > div:hover p {
  color: #000;
}
.contact-section .contact-social-links {
  text-align: center;
  width: 100%;
  font-size: 2rem;
  padding: 14px;
  background-color: lightgrey;
}
.contact-section .contact-main-div .contact-section-links span {
  font-size: 2.5rem;
  margin-bottom: 10px;
  display: inline-block;
}

.contact-section
  .contact-main-div
  .contact-section-links:hover
  span
  .fa-envelope {
  color: orange;
}
.contact-section
  .contact-main-div
  .contact-section-links:hover
  span
  .fa-whatsapp {
  color: rgb(6, 192, 6);
}
.contact-section
  .contact-main-div
  .contact-section-links:hover
  span
  .fa-map-marker-alt {
  color: #000;
}

.contact-section .contact-social-links span {
  margin-right: 40px;
}
.contact-section .contact-social-links .fa-facebook-f:hover {
  color: rgb(73, 73, 167);
  cursor: pointer;
}
.contact-section .contact-social-links .fa-instagram:hover {
  color: rgb(236, 59, 89);
  cursor: pointer;
}
.contact-section .contact-social-links .fa-dribbble:hover {
  color: rgb(255, 129, 150);
  cursor: pointer;
}
.contact-section .contact-social-links .fa-pinterest:hover {
  color: red;
  cursor: pointer;
}
.contact-section .contact-social-links .fa-behance:hover {
  color: rgb(39, 39, 253);
  cursor: pointer;
}

.footer-section {
  text-align: center;
  background-color: orange;
  color: wheat;
  padding: 5px;
}

@media (max-width: 996px) {
  /* html{
        font-size: 8px;
        line-height: 8px;
    } */
  .header-section {
    display: block;
    min-width: 400px;
  }
  .header-logo {
    text-align: center;
  }
  .header-nav ul {
    display: block;
    text-align: center;
    width: 11%;
    min-width: 116px;
    margin: auto;
  }
  .header-nav ul li {
    margin: 11px 0px 0px 0px;
    display: inline-block;
  }

  /* Banner Section */
  .banner-section {
    min-width: 400px;
  }
  .banner-section .banner-text-section {
    width: 100%;
  }
  .banner-section .banner-text {
    margin-left: 50px;
  }
  .banner-section .banner-image {
    float: none;
    width: 100%;
    text-align: center;
  }

  /* About Me Section */

  .about-section {
    min-width: 400px;
  }
  .about-section .about-image {
    width: 100%;
    text-align: center;
  }
  .about-section .about-image img {
    max-width: 100%;
  }
  .about-section .about-text-section {
    width: 100%;
    float: none;
    text-align: center;
  }

  /* Expertise Section */
  .expertise-section {
    min-width: 400px;
  }
  .expertise-section .expertise-progress {
    width: 100%;
    text-align: center;
  }
  .expertise-section .expertise-progress img {
    max-width: 100%;
  }
  .expertise-section .expertise-image {
    width: 100%;
    text-align: center;
    float: none;
  }

  /* Services Section */

  .services-section {
    min-width: 400px;
  }
  .services-section .services-work-image p {
    font-size: 2rem;
    color: white;

    font-weight: 400;
  }
  .services-section .services-main-div {
    display: block;
    width: 100%;
  }

  /* .services-section .services-heading-number p {
    font-size: 1rem;
  } */

  .services-section .services-main-div .services-details {
    width: 40%;
    margin: 0 auto;
  }
  /* Contact Me */
  .contact-section {
    min-width: 400px;
  }
  .contact-image-form-section {
    flex-direction: column;
  }
  .contact-section .contact-image {
    width: 100%;
    text-align: center;
  }

  .contact-section .contact-form {
    width: 100%;
    float: none;
    text-align: center;
  }
  .contact-section .contact-form input,
  textarea {
    display: block;
    margin: auto;
    margin-top: 1.275em;
  }
  .contact-section .contact-form button {
    margin-top: 1.275em !important;
    margin: auto;
    margin-bottom: 20px;
  }
  .contact-section .contact-main-div {
    display: block;
    width: 100%;
    text-align: center;
  }

  .contact-section .contact-main-div .contact-section-links {
    min-width: 240px;
    width: 50%;
    margin: auto;
  }
  .footer-section {
    min-width: 400px;
  }
}
@media (min-width: 1920px) {
  html {
    font-size: 24px;
    line-height: normal;
  }
  .banner-section .banner-image img {
    max-width: 37%;
  }
  .services-section .services-heading-number p {
    font-size: 3.2rem;
    text-align: center;
    /* line-height: 100px; */
    height: 110px;
  }
  .banner-section .banner-button-hire-me,
  .banner-button-about-me {
    height: 52px !important;
  }
  .contact-section .contact-form input,
  textarea,
  button {
    font-size: 1.5rem;
  }
}
